<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>supervised_user_circle</mat-icon>
  </button>
  <span>Angular CRUD</span>
  <span class="example-spacer"></span>
  <button mat-raised-button color="warn" (click)="openDialog()">adicionar</button>
</mat-toolbar>

<div class="container">
  <div style="margin-top: 10px;">
    <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>

        <!-- produto Column -->
        <ng-container matColumnDef="produto">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>produto</th>
          <td mat-cell *matCellDef="let row"> {{row.produto}} </td>
        </ng-container>

        <!-- categoria Column -->
        <ng-container matColumnDef="categoria">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> categoria </th>
          <td mat-cell *matCellDef="let row"> {{row.categoria}} </td>
        </ng-container>

        <!-- data Column -->
        <ng-container matColumnDef="data">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> data </th>
          <td mat-cell *matCellDef="let row"> {{row.data | date: 'dd'}}/ {{row.data | date: 'MM'}}/ {{row.data | date: 'yyyy'}}</td>
        </ng-container>

        <!-- fresheness Column -->
        <ng-container matColumnDef="freshness">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> freshness </th>
          <td mat-cell *matCellDef="let row"> {{row.freshness}} </td>
        </ng-container>

        <!-- preco Column -->
        <ng-container matColumnDef="preco">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> preço </th>
          <td mat-cell *matCellDef="let row"> {{row.preco | currency:'BRL':true:'1.2-2'}} </td>
        </ng-container>

        <!-- comentario Column -->
        <ng-container matColumnDef="comentario">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> comentário </th>
          <td mat-cell *matCellDef="let row"> {{row.comentario}} </td>
        </ng-container>

        <!-- action Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ações </th>
          <td mat-cell *matCellDef="let row"> 
            <button mat-icon-button color="primary" (click)="editProduct(row)"> <mat-icon>editar</mat-icon> </button>
            <button mat-icon-button color="warn" (click)="deleteProduto(row.id)"> <mat-icon>delete</mat-icon> </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
  </div>
</div>